* {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    color: #000000;
    ;
}


ul>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

a {
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
}

img {
    max-width: 100%;
}

.wrapper {
    min-height: 100%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

.hero {
    height: 100vh;
    background-color: rgba(242, 206, 218, 0.3);
}

.container {
    max-width: 1100px;
    margin: 0px auto;
}


.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 25px 0px;
}

.logo {
    height: 79px;
    width: 79px;

}

.logo_img {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.nav__list {
    display: flex;

}

.nav__item {
    margin-right: 28px;
}

.nav__main {
    color: #D23166;
}

.nav__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: rgba(0, 0, 0, 0.473);
}

.btn {
    font-family: 'Roboto', sans-serif;
    padding: 15px 36px;
    background: #D23166;
    border-radius: 5px;
    border: none;
    width: 165px;
    height: 49px;
    left: 1205px;
    top: 25px;
    color: #ffffff;
}

.hero__content {
    max-width: 49%;
    padding-top: 186px;
    margin-right: 0;
    margin-right: 0px;
    display: inline-block;

}

.hero__main {
    width: 58%;
}

.hero__headline {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.1em;
    margin-bottom: 6px;
    font-family: 'Roboto', sans-serif;
    color: #0F0101;
    margin-top: 74px;
}

.title {
    font-weight: 500;
    font-size: 57px;
    line-height: 1.18;
    font-family: 'Fredoka One', cursive;
    color: #0F0101;
}


.hero__desc {
    font-family: 'Hind Madurai', cursive;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.17;
    color: rgba(0, 0, 0, 1);
    margin-bottom: 42px;
    margin-top: 35px;

}

.ice-cream {
    margin-bottom: 25px;
    font-family: 'Fredoka One', cursive;
    font-weight: 400;
    font-size: 57px;
    line-height: 1.18;
    color: #D23166;
}

.content__decor {
    max-height: 600px;
    position: relative;

}

.content {
    display: flex;
    justify-content: space-between;
}

.content__img {
    width: 100%;
}

.content__decor::after {
    content: "";
    display: block;
    width: 365px;
    height: 353px;
    background: rgba(210, 49, 102, 0.1);
    border-radius: 50%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -10;

}

.content__decor::before {
    content: "";
    display: block;
    position: absolute;
    background-image: url(../img/content/milk.png);
    background-position: bottom center;
    background-size: contain;
    background-repeat: no-repeat;
    bottom: 0;
    width: 100%;
    height: 80%;

}

.menu {
    padding: 129px 0px 100.2px;
}

.stock {
    display: flex;
    justify-content: space-between;
}

.menu__item {
    width: calc(25% - 29.25px);
}

.advertising {
    border-radius: 7px;
    overflow: hidden;
}

.advertising__img-wrap {
    width: 100%;
    overflow: hidden;
}

.advertising__img {
    padding-top: 33px;
    padding-right: 100px;
    padding-left: 99px;
}

.advertising__desc {
    padding: 24.65px 26px 27px;
    text-align: center;
}

.advertising__title {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 9px;
}

.advertising__text {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: rgba(0, 0, 0, 0.6);

}

.order {
    background: rgba(242, 206, 218, 0.3);
    height: 554px;
}

.order__container {
    display: flex;
    align-items: center;
}

.order__img-wrap {
    width: 50%;
    position: relative;
}

.order__img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
}

.order__img-wrap::after {
    content: "";
    position: absolute;
    width: 283px;
    height: 27.07px;
    background: #EDB5C7;
    opacity: 0.87;
    filter: blur(16px);
    bottom: 62px;
    left: 50%;
    transform: translateX(-50%);
}

.order__desc {
    width: 50%;
    display: flex;
    justify-content: center;
}

.order__action {
    max-width: 442px;
}

.action__title {
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 49px;
    margin-bottom: 16.04px;
    max-width: 349px;
}

.action__text {
    height: 58.16px;
    left: 252px;
    top: 1517.9px;
    color: rgba(21, 1, 1, 0.6);
    margin-bottom: 35px;
}

.action__btn {
    font-family: 'Roboto', sans-serif;
}

.product__title {
    width: 238px;
    height: 61px;
    font-weight: 600;
    font-size: 44.2px;
    line-height: 61px;
    font-family: 'Hind Madurai', sans-serif;
    margin-top: 97px;
    margin-left: 50%;
    transform: translateX(-50%);
}

.product__nav-list {
    display: flex;
    margin-top: 64px;
}

.product__nav-item {
    margin-right: 40px;
}

.product__nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #000000;
}

.product__list {
    margin-top: 50px;
}

.product__container {
    display: flex;
}

.offer__title {
    font-weight: 700;
    font-size: 26px;
    line-height: 36px;
    font-family: 'Hind Madurai', sans-serif;
}

.offer__text {
    margin-top: 11px;
    margin-bottom: 34px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.action__price-new {
    color: #000000;
    font-family: 'Hind Madurai', sans-serif;
    font-weight: 500;
    font-size: 26px;
    line-height: 36px;
}

.action__price-old {
    color: #000000;
    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
    text-decoration-line: line-through;
}

.btn_size_small {
    margin-top: 10px;
}

.product__item:nth-child(even) .product__container {
    flex-direction: row-reverse;
}

.feadback {
    margin-top: 112px;
}

.feedback__content {
    display: flex;
}

.feedback__column {
    flex: 1;
}

.feedback__column-margin {
    margin-top: 93px;
}

.review__head {
    display: flex;
    align-items: center;
}

.avatar {
    width: 59px;
    height: 59px;
    border-radius: 50%;
    overflow: hidden;
}

.avatar__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top center;
}

.review__title-block {
    margin-left: 11px;
}

.review__title {
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    font-family: 'Roboto', sans-serif;
}

.review__subtitle {
    display: flex;
    text-align: center;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    font-family: 'Roboto', sans-serif;
}

.review__text {
    max-width: 345px;
    position: relative;
    padding-left: 23;
}

.review__text::before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    background: url(../img/icons/Group.svg) center/contain no-repeat;
    transform: scale(-1, 1);
    position: absolute;
    top: 4px;
    left: -18px;
}

.review__text::after {
    content: "";
    display: inline-block;
    width: 10px;
    height: 10px;
    background: url(../img/icons/Group.svg) center/contain no-repeat;
    vertical-align: sub;
    margin-left: 3px;
}

.review__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.7;
    margin-bottom: 56px;
}

.review-slider {
    max-width: 260px;
    position: relative;
    padding: 0px, 39px;
}

.review-slider__ctrls {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 110%;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
}

.review-slider__ctrl_rotate_left {
    transform: scale(-1, 1);
}

.review-slider__list {
    display: flex;
    justify-content: space-between;
    column-gap: 5px;
    align-items: center;
    z-index: 10;
    position: relative;
    width: 243px;
    margin-left: 20px;
}

.review-slider__item.active .avatar {
    border: 1px solid #D64374;
}

.avatar_size_small {
    width: 35px;
    height: 35px;
}

.advertisement {
    height: 678px;
    background: rgba(248, 237, 240, 1);

}

.application {
    display: flex;
}

.application__screen {
    border-radius: 35px;
    margin-top: 59px;
    width: 305px;
    height: 627px;
}

.application__content {
    margin-left: 134px;
}

.content__text {
    margin-top: 90px;
    height: 132px;
    width: 621px;
}

.text__title {

    font-weight: 500;
    font-size: 44.2px;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
}

.text__subtitle {
    margin-top: 20px;

    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.01em;
    opacity: 0.7;
}

.content__functions {
    margin-top: 31px;
}

.functions__explanation {
    display: flex;
}

.explanation__content {
    position: relative;
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 3px;
    object-fit: contain;
}

.content__img-position {
    width: 11px;
    height: 16.5px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.img-size1 {
    width: 11px;
    height: 16.5px;
}

.img-size2 {
    width: 14px;
    height: 14px;
}

.img-size3 {
    width: 16px;
    height: 12.5px;
}

.content__img {
    object-fit: contain;
}

.explanation__text {
    font-family: 'Roboto', sans-serif;
    margin-left: 10px;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}

.link {
    display: flex;
}

.link__explanation-Google {
    margin-right: 7px;
    margin-top: 41px;
    width: 200px;
    height: 77px;
}

.link__explanation-AppStore {
    margin-top: 36px;
    width: 173px;
    height: 88px;
}

.FAQ {
    height: 545px;
    margin-bottom: 20px;
}

.FAQ__text {
    display: flex;
    justify-content: center;
    margin-top: 191px;
    font-weight: 500;
    font-size: 44px;
    line-height: 52px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin-bottom: 28px;
}

.FAQ__send-center {
    display: flex;
    justify-content: center;
}

.FAQ__send {
    display: flex;
    width: 637px;
    height: 74px;
    background: #f0f0f0;
    justify-content: space-between;
    border-radius: 5px;

}

.send__text {
    margin-left: 30px;
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    font-family: 'Roboto', sans-serif;
    opacity: 0.6;
}


.btn__send {
    height: 74px;
    width: 134px;
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    font-family: 'Roboto', sans-serif;
    justify-content: center;
}

.footer {
    height: 381px;
    background-color: #0A0808;
}

.footer-menu {
    display: flex;
    justify-content: center;
}


.social__logo {
    margin-top: 70px;
    margin-bottom: 8px;
}


.social__text {
    width: 207px;
    height: 47px;
    line-height: 17px;
    letter-spacing: 0.01em;
    font-family: 'Roboto', sans-serif;

}

.text-style {
    font-weight: 400;
    font-size: 12px;
    opacity: 0.7;
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

.social__title {
    margin-top: 25px;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 8px;
}

.social__items {
    display: flex;
    width: 90px;
    height: 15px;
    justify-content: space-between;
}


.footer-menu__links {
    display: flex;
    margin-top: 143px;
    margin-left: 37px;
}

.links__links-first {
    margin-right: 132px;
}

.main-link__link {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    color: #ffffff;
}

.links__link {
    margin-top: 10px;
}

.footer-menu__newsletter {
    margin-top: 136px;
    margin-left: 150px;
}

.newsletter__title {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px;
}

.newsletter__subscribe {
    display: flex;
    width: 388px;
    height: 55px;

    border: 2px solid #D64374;
    border-radius: 5px;
}

.subscribe__email {
    font-family: 'Roboto', sans-serif;
    width: 263px;
    background: #0A0808;
    border: none;
    outline: none;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    opacity: 0.6;
    padding-left: 32px;
}

.subscribe__btn {
    display: flex;
    height: 100%;
    width: 125px;
    align-items: center;
    justify-content: center;
    border-radius: 0px;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

.newsletter__pay {
    display: flex;
    margin-top: 15px;
    align-items: center;
}

.pay__items {
    margin-right: 15px;
}